.popup {
	position:absolute;
	display:none;
	background-color: #fff;
    border-radius: 2px;
    border: 1px solid;
    border-color: #bbb #bbb #a8a8a8;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    color: #666;
    cursor: default;
    padding: 12px 20px;
    min-width:120px;
    min-height:40px;
    width:auto;
    z-index: 99;
    white-space: nowrap;
    display:none;
}