.popup {
	position:absolute;
	display:none;
	background-color: #fff;
    border-radius: 2px;
    border: 1px solid;
    border-color: #bbb #bbb #a8a8a8;
    color: #666;
    cursor: default;
    padding: 12px 20px;
    min-width:120px;
    min-height:40px;
    width:auto;
    z-index: 99;
    white-space: nowrap;
    display:none;
    @include transition(all 250ms);
    @include shadow(1);
    &:hover{
	    @include shadow(3);
		@include transform(translateY(-5px));   
    }
}