	.content {
        padding: 2em 0 0;
        margin-left: 0%;
    }
	.posts{
		width:100%;
		display:block;
	}
  .dont-print {
    display: none;
  }
  ol#editable,
  ol#editable:focus,
  ol#editable:hover,
  #editable,
  [contenteditable],
  [contenteditable="true"]:hover, 
  [contenteditable="true"]:focus,
  #editable:hover, 
  #editable:focus {
	  background-color: #FFFFFF !important;
	  border-color: #FFFFFF;
  	background: #FFFFFF !important;
  }

  // Source: https://github.com/vladocar/Hartija---CSS-Print-Framework/
  
  /* Links */
  a:link, a:visited { background: transparent; text-decoration: underline; color:#333; }
  a:link[href^="http://"]:after, a[href^="http://"]:visited:after { content: " (" attr(href) ") "; font-size: 90%; }
  
  abbr[title]:after { content: " (" attr(title) ")"; }
  
  /* Don't show linked images  */
  a[href^="http://"] {color:#000; }
  a[href$=".jpg"]:after, a[href$=".jpeg"]:after, a[href$=".gif"]:after, a[href$=".png"]:after { content: " (" attr(href) ") "; display:none; }
  /* Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol .. taken from html5boilerplate */
  a[href^="#"]:after, a[href^="javascript:"]:after {content: "";}