
$lighter-grey: #eeeeee;
$light-blue: rgb(176, 202, 219);
$dark-blue: #113D5E;


body{font-family:sans-serif;}

@import 'pure';

 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
	
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
    position:relative;
	line-height: 1.4;
	p{margin-bottom:1.4em}
	a{
		color: darken($light-blue,25%);
		color: #5e819b;
	}
}

.sidebar {
    background: $dark-blue;
    color: #fff;
    position:relative;
    #credits{
		position:absolute;
		bottom:0;
		width:100%;
		text-align: left;
		opacity:.5;
		margin-left:1rem;
		font-size:80%;
		color: $light-blue;
		a{
			color: $light-blue;
		}
	}
	p{
	    font-weight: 300;
		color: $light-blue;
		font-size:80%;
	}
	.brand-title,
	.brand-tagline {
    		margin: 0;
	}
	.brand-title {
    		text-transform: uppercase;
		color: lighten($light-blue, 15%);

	}
	h2.brand-tagline{
		font-size:80%;
		font-weight:normal;
		color: lighten($light-blue, 10%);
	}
}



.content-footer{
	border-top: 1px solid #eee;
	padding-top:1em;
	.sync-status{
		color:#CCC;
		float:left;
		margin-right:1em;
	}
}
.content-subhead{
	overflow: hidden;
	border-bottom: 1px solid #eee;
	line-height:1;



	#clear{
		 font-size: 80%;
		 font-weight: 500;
		padding: 0.4rem 0;
		border:none;
		background: white;
		color:#CCC;
		float:right;
		vertical-align: baseline;
		&:hover{
			color:black;
		}
	}
	h1 {

		 text-transform: uppercase;
		 color: #aaa;
		 padding: 0.4rem 0;
		 font-size: 80%;
		 font-weight: 500;
		 letter-spacing: 0.1em;
	}
}
.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}


.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}    

[contenteditable="true"]:hover, [contenteditable="true"]:focus {
  background: #FFFFEE;
}
#editable:hover, #editable:focus {
  background: #FFFFEE;
  border:1px dotted #FFFFEE;
  outline: none;
}

#editable { 
	counter-reset: item; 
	padding:0; 
	padding-left:2rem; 
	border:1px solid white;
	transition: all .5s ease-out;
	* {
		font-size:1.5rem;
		line-height: 150%;	
	}

	li { 
		display: block; 
		color:#222; 
		margin-bottom: 1.5rem;

		&:before {
			content: counter(item) ". ";
			counter-increment: item;
			color: #DDD;
			margin-left:-2rem;
		}
	}
}

.firstname{font-style: italic}
#debugger{display:none;}

.user-details{
	margin-top:2rem;
	text-align: center;
	.image-clipper{
		margin:5px auto;
		display:block;
		position:relative;
		height:80px;
		width:80px;		
	}
	img{
		border-radius:50%;
		width:75px;
		height:75px;
		margin:auto;
    }
}