
$lighter-grey: #eeeeee;
$light-blue: rgb(176, 202, 219);
$blue: darken($light-blue,25%);
$dark-blue: #113D5E;


body{font-family:sans-serif; position:relative;}

@import 'pure';

 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
	
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
    position:relative;
	line-height: 1.4;
	p{margin-bottom:1.4em}
	a{
		color: $blue;
	}
}

.sidebar {
    background: $dark-blue;
    color: #fff;
    position:relative;
    #credits{
		position:absolute;
		bottom:0;
		width:100%;
		text-align: left;
		opacity:.5;
		margin-left:1rem;
		font-size:80%;
		color: $light-blue;
		a{
			color: $light-blue;
		}
	}
	p{
	    font-weight: 300;
		color: $light-blue;
		font-size:80%;
	}
	.brand-title,
	.brand-tagline {
    		margin: 0;
	}
	h1.brand-title {
    	text-transform: uppercase;
		color: lighten($light-blue, 15%);
		a:link,
		a:hover,
		a:visited{
			color: lighten($light-blue, 15%);
			text-decoration: none;
		}

	}
	h2.brand-tagline{
		font-size:80%;
		font-weight:normal;
		color: lighten($light-blue, 10%);
	}
}

.main-menu{
	margin:2em auto;
	text-transform: lowercase;
	color: $light-blue;
	line-height:1;
	.spacer{
		display:inline-block;
		vertical-align: middle;
	}
	a{
		padding:2px 4px 1px;
	}
	a.active, a:hover, a:focus{
		text-decoration: underline;
	}
	a:hover{
		color:white;
	}
}

a.facebook-page{
	b{display:none;}
	&:before{
		content: "f";
		background: $light-blue;
		border-radius:10px;
		color: $dark-blue;
		display:inline-block;
		text-align: center;
		padding:2px 7px;
		margin-right:5px;
	}
	&:hover:before{
			background:white;
	}
}

.content-footer{
	border-top: 1px solid #eee;
	padding-top:1em;
	font-size:80%;
	color: #CCC;
	a{
		color:#CCC;
		margin-right:1em;
	}
	
}
.content-subhead{
	overflow: hidden;
	line-height:1;
	
	#clear,
	.button-as-link{
		 font-size: 80%;
		 font-weight: 500;
		padding: 0.4rem 0;
		border:none;
		background: white;
		color:#CCC;
		float:right;
		vertical-align: baseline;
		&:hover{
			color:black;
		}
	}
	h1 {
		 text-transform: uppercase;
		 color: #aaa;
		 padding: 0.4rem 0;
		 font-size: 80%;
		 font-weight: 500;
		 letter-spacing: 0.1em;
	}
}
.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
    p{
	    line-height:1.4;
    }
}


.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}    

[contenteditable="true"]:hover, [contenteditable="true"]:focus {
	background:#f8f6f2;
	border:1px dotted #FFFFEE;
    outline: none;
	position:relative;
}

.editable,
.post > ol { 
	counter-reset: item; 
	padding:0; 
	padding-left:2rem; 
	border:1px solid white;
	transition: all .5s ease-out;
	position:relative;
	* {
		font-size:1.5rem;
		line-height: 150%;	
	}

	li { 
		display: block; 
		color:#222; 
		margin-bottom: 1.5rem;
		position:relative;
		&:before {
			content: counter(item) ". ";
			counter-increment: item;
			color: #DDD;
			margin-left:-2rem;
		}
	}
	ol{
		counter-reset: item2; 
		li:before {
			content: counter(item) "." counter(item2) ". ";
			counter-increment: item2;	
		}
	}
}
.post.tips ol {
	*{
		font-size:1rem;
		line-height: 1.5;
	}
	li{
		margin-bottom:1rem;
	}
}
.firstname{font-style: italic}
#debugger{display:none;}

.user-details{
	margin-top:2rem;
	text-align: center;
	.image-clipper{
		margin:5px auto;
		display:block;
		position:relative;
		height:80px;
		width:80px;		
	}
	img{
		border-radius:50%;
		width:75px;
		height:75px;
		margin:auto;
    }
}
.sync-status{
	height:20px;
	display:inline-block;
}
#templates{display:none;}

/* OPENGRAPH */
#url-link{
	letter-spacing: normal;
}
#url-popup{
	max-width:480px;
}
#og-card{
	margin:10px 0 0;
	height:auto;
	position:relative;
	display:block;
	figure.og-left{
		display: inline-block;
		margin: 0;
		margin-right: 15px;
		overflow: hidden;
		width: 110px;
		vertical-align: top;
	}
	div.og-right{
		box-sizing: border-box;
		display:inline-block;
		padding:0 10px 10px 0px;
		max-width:340px;
	}
	img{
		border:1px solid #DDD;
		max-width:100%;
		height:auto;
	}
	h4{
		font-weight:bold;
		width:95%;
		color:#333;
		text-decoration:none;
		margin-top:0;
		white-space:normal;

	}
	a:hover{
		text-decoration: none;
	}
}


/* LOADING ICON */
.cloud{
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}
.cloud{display:none;}
/*
  Set the color of the icon
*/
svg path,
svg rect,
svg polygon{
  fill: $blue;
}
/* Tooltip */
@import 'pixeline-tip';
/* Tabs */
@import 'responsive-tabs';

/* Printer-friendly version */
@media print {
	@import 'print';
}

